In [6]:
import pandas as pd

In [7]:
# Importar a biblioteca Pandas
import pandas as pd

# Dados das notificações
total_notificacoes = [37297237, 37363786, 37382871, 37404575, 37409961, 37418033, 37423456, 37443327, 37461551]
datas = ['2023-04-13', '2023-04-18', '2023-04-19', '2023-04-20', '2023-04-21','2023-04-22', '2023-04-23', '2023-04-24', '2023-04-25']

# Criar o DataFrame
df = pd.DataFrame({'Total de Notificações': total_notificacoes, 'Data': datas})

# Exibir o DataFrame sem o índice
df = df.reset_index(drop=True)
display(df)

   Total de Notificações        Data
0               37297237  2023-04-13
1               37363786  2023-04-18
2               37382871  2023-04-19
3               37404575  2023-04-20
4               37409961  2023-04-21
5               37418033  2023-04-22
6               37423456  2023-04-23
7               37443327  2023-04-24
8               37461551  2023-04-25

In [8]:
df['Data'] = pd.to_datetime(df['Data'], format='%Y-%m-%d', errors='coerce')
df.dtypes

Total de Notificações             int64
Data                     datetime64[ns]
dtype: object

In [9]:
#df.to_csv('total_sp.csv', index=False)

In [12]:
dados = [0]
for i in range(1, len(df)):
    valor_diario = df['Total de Notificações'][i] - df['Total de Notificações'][i-1]
    dados.append(valor_diario)
df['Valor Diário'] = dados

In [13]:
df

   Total de Notificações       Data  Valor Diário
0               37297237 2023-04-13             0
1               37363786 2023-04-18         66549
2               37382871 2023-04-19         19085
3               37404575 2023-04-20         21704
4               37409961 2023-04-21          5386
5               37418033 2023-04-22          8072
6               37423456 2023-04-23          5423
7               37443327 2023-04-24         19871
8               37461551 2023-04-25         18224